@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Kitap Satış Sitemize Hoş Geldiniz</h1>
    <p>Menüden kitapları veya kategorileri görüntüleyebilirsiniz.</p>
</div>