@{
    ViewData["Title"] = "Admin Paneli";
}
<h2>Admin Paneli</h2>
<ul>
    <li><a asp-controller="Admin" asp-action="Users">Kullanıcı Yönetimi</a></li>
    <li><a asp-controller="Admin" asp-action="Categories">Kategori Yönetimi</a></li>
    <li><a asp-controller="Admin" asp-action="Books">Kitap Yönetimi</a></li>
    <li><a asp-controller="Admin" asp-action="Orders">Siparişler</a></li>
    <li><a asp-controller="Admin" asp-action="Favorites">Favoriler</a></li>
</ul>
